/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


body {
  font-family: Arial, sans-serif;
  background-color: #d9534f;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 12em;
}

.content {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* max-width: 2500px; */
  margin: 0 auto;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.task-input {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  padding: 12px;
  /* font-size: 5em; */
}

button {
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  padding: 12px 15px;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  font-size: 78px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

button.deletee {
  background-color: #d9534f;
}

button.editt {
  background-color: #0275d8;
}

button.deletee:hover {
  background-color: #c9302c;
}

button.editt:hover {
  background-color: #025aa5;
}

#add-button {
  margin-top: 20px;
  background-color: #5bc0de;
  /* font-size: 8em; */
}

#add-button:hover {
  background-color: #31b0d5;
}

#save-button {
  margin-top: 20px;
  background-color: #5bc0de;
  font-size: 8em;
}

#save-button:hover {
  background-color: #31b0d5;
}